html, body {
  height: 100%; }

*, html, body {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #b48ead;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease; }

h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

h1, h2, h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #65737e;
  font-weight: 300;
  margin-bottom: 10px; }

hr {
  opacity: 0.25;
  margin-top: 10px;
  margin-bottom: 10px; }

body {
  font-family: "Lora", serif;
  font-size: 15px;
  color: #2b303b;
  width: 100%;
  background-color: #2b303b; }

.entry-title {
  font-family: "Raleway", sans-serif; }

#container {
  margin: 0 auto;
  height: 100%;
  max-width: 1500px; }

.content {
  float: right;
  min-height: 100%;
  background-color: #eff1f5;
  width: 74%;
  padding: 40px 2% 0 2%;
  line-height: 1.4em; }

.content-wrap {
  width: 80%;
  min-width: 525px;
  margin-left: 5%; }

.entry {
  padding-bottom: 70px;
  line-height: 1.85em; }

.entry-title a {
  color: #4f5b66;
  padding-left: 2%;
  text-decoration: none; }

.entry-title a:visited {
  color: #8fa1b3; }

.entry-body {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10px; }

.entry-meta {
  font-size: 0.8em;
  margin-bottom: 10px;
  background-color: #dfe1e8;
  color: #343d46;
  padding-left: 1%;
  font-family: "Raleway", sans-serif; }

.entry-tags {
  margin-top: 7.5px;
  float: right;
  margin-right: 1%; }

.entry-tag {
  font-size: 0.75em;
  padding: 4px;
  font-family: "Raleway", sans-serif;
  background-color: #96b5b4; }

.side {
  display: flex;
  background-color: #2b303b;
  color: #eff1f5;
  width: 22%;
  min-width: 185px;
  float: left;
  position: fixed;
  height: 100%; }

.side-title {
  font-size: 2.5em;
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: 0 auto; }

.side-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; }

.side-menu {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  list-style-type: none; }

.side-menu li {
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px; }
  .side-menu li a {
    color: #a7adba;
    text-decoration: none;
    display: block; }
  .side-menu li a:hover {
    color: #65737e; }

.single-title {
  font-size: 1.8em;
  padding-left: 3%;
  padding-right: 5%;
  color: #4f5b66;
  font-weight: 300;
  margin-bottom: 10px; }

.single-meta {
  margin-left: 3%;
  margin-bottom: 30px; }

.single-meta-wrap {
  margin-bottom: 20px; }

.single-body {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1em; }

.single-tags {
  padding-left: 5%;
  padding-right: 3%;
  font-size: 1.1em; }

.copyright {
  font-family: "Lora", serif;
  text-align: center;
  font-size: 0.7em;
  position: fixed;
  bottom: 2px;
  left: 2px; }
  .copyright a {
    color: #dfe1e8;
    text-decoration: overline; }

.side-arrow {
  display: none; }

#open-side {
  cursor: pointer; }

code {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  color: #dfe1e8;
  background-color: #343d46;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px; }

@media (max-width: 750px) {
  body {
    background-color: #eff1f5; }

  .single-title {
    border-bottom: 0;
    margin-left: 0;
    padding: 0;
    padding-bottom: 1px; }

  .single-meta {
    margin-left: 0; }

  .content {
    width: 100%;
    padding: 40px 0 0 0;
    float: none; }

  .content-wrap {
    min-width: 0;
    width: 90%;
    margin: 0 auto; }

  .single-body {
    padding: 0; }

  .side {
    background-color: #2b303b;
    min-width: 0px;
    width: 1%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    -o-transition: width 0.5s ease;
    transition: width 0.5s ease;
    z-index: 1; }

  .side-box {
    width: 90%;
    overflow: hidden; }

  .side-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10%;
    min-width: 25px;
    font-size: 2.5em;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    background-color: #2b303b; }

  .side-item {
    font-size: 1.1em;
    padding-bottom: 19px;
    border-bottom: 1px solid #65737e; } }

/*# sourceMappingURL=style.css.map */
