<div id="side" class="side">
  <div id="side-box-content" class="side-box">
      <div class="side-title">
        {{ .Site.Title }}
      </div>

      <ul class="side-menu">
        {{ range .Site.Menus.main }}
          <li class="side-item">
            <a href="{{.URL}}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>

    <!-- <div class="side-social-links">
      <ul>
      </ul>
    </div> -->
      <div id="license" class="copyright">
        <a href="https://github.com/hnry/aminimal" target="_blank">aminimal theme</a>
      </div>
  </div>

  <div id="open-side" class="side-arrow">
    >
  </div>
</div>
