@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin box-shadow($args...) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  box-shadow: $args;
}

$color0: rgb(43, 48, 59);    // dark
$color1: rgb(52, 61, 70);    // lighter dark
$color2: rgb(79, 91, 102);
$color3: rgb(101, 115, 126);
$color4: rgb(167, 173, 186);
$color5: rgb(192, 197, 206);
$color6: rgb(223, 225, 232);
$color7: rgb(239, 241, 245);
$color8: rgb(191, 97, 106);
$color9: rgb(208, 135, 112);
$colorA: rgb(235, 203, 139);
$colorB: rgb(163, 190, 140);
$colorC: rgb(150, 181, 180);
$colorD: rgb(143, 161, 179);
$colorE: rgb(180, 142, 173);
$colorF: rgb(171, 121, 103);

// linkable text part of layouts
// or <code>
// * exception being the self theme link
// * links not part of layout
$font1: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
// special text
$font2: 'Raleway', sans-serif;
// regular text
$font3: 'Lora', serif;
html, body, {
  height: 100%;
}

*, html, body {
  padding: 0; margin: 0;
}

a {
  text-decoration: none;
  color: $colorE;
  @include transition(color .5s ease);
}

h1 { font-size: 1.6em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h1, h2, h3 {
  font-family: $font1;
  color: $color3;
  font-weight: 300;
  margin-bottom: 10px;
}
hr { opacity: 0.25; margin-top: 10px; margin-bottom: 10px; }

body {
  font-family: $font3;
  font-size: 15px;
  color: $color0;
  width: 100%;
  background-color: $color0;
}


.entry-title {
  font-family: $font2;
}

#container {
  margin: 0 auto;
  height: 100%;
  max-width: 1500px;
}

.content {
  float: right;
  min-height: 100%;
  background-color: $color7;
  width: 74%; // 74% + 4% padding + 22% side
  padding: 40px 2% 0 2%;
  line-height: 1.4em;
}

.content-wrap {
  width: 80%; // margin-right ~ 15%
  min-width: 525px;
  margin-left: 5%;
}

.entry {
  padding-bottom: 70px;
  line-height: 1.85em;
}


.entry-title a {
  color: $color2;
  padding-left: 2%;
  text-decoration: none;
}

.entry-title a:visited {
  color: $colorD;
}

.entry-body {
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 10px;
}

.entry-meta {
  font-size: 0.8em;
  margin-bottom: 10px;
  background-color: $color6;
  color: $color1;
  padding-left: 1%;
  font-family: $font2;
}

.entry-tags { margin-top: 7.5px; float: right; margin-right: 1%; }
.entry-tag {
  font-size: 0.75em;
  padding: 4px;
  font-family: $font2;
  background-color: $colorC;
}

.side {
  display: flex;
  background-color: $color0;
  color: $color7;
  width: 22%;
  min-width: 185px;
  float: left;
  position: fixed;
  height: 100%;
}

.side-title {
  font-size: 2.5em;
  font-family: $font2;
  width: 90%;
  margin: 0 auto;
}

.side-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.side-menu { // ul
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  list-style-type: none;
}

.side-menu li {
  font-family: $font2;
  margin-bottom: 20px;

  a {
    color: $color4;
    text-decoration: none;
    display: block;
  }

  a:hover {
    color: $color3;
  }
}

.single-title {
  font-size: 1.8em;
  padding-left: 3%;
  padding-right: 5%;
  color: $color2;
  font-weight: 300;
  margin-bottom: 10px;
}

.single-meta {
  margin-left: 3%;
  margin-bottom: 30px;
}

.single-meta-wrap {
  margin-bottom: 20px;
}

.single-body {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1em;
}

.single-tags {
  padding-left: 5%; padding-right: 3%;
  font-size: 1.1em;
}

.copyright {
  font-family: $font3;
  text-align: center;
  font-size: 0.7em;
  position: fixed;
  bottom: 2px;
  left: 2px;
//  z-index: 1;

  a {
    color: $color6;
    text-decoration: overline;
  }
}

.side-arrow {
  display: none;
}

#open-side {
  cursor: pointer;
}

code {
  font-family: $font1;
  font-weight: 300;
  font-size: 0.85em;
  color: $color6;
  background-color: $color1;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

@media (min-width: 751px) { // responsively reset menu from mobile
  #side-box-content {
    //height: auto !important;
  }
}

@media (max-width: 750px) { // tablets / phones (735px best size?)
  body { background-color: $color7; }

  .single-title {
    border-bottom: 0;

    margin-left: 0;
    padding: 0;

    padding-bottom: 1px;
  }

  .single-meta {
    margin-left: 0;
  }

  .content {
    width: 100%;
    padding: 40px 0 0 0;
    float: none;
  }

  .content-wrap {
    min-width: 0; // reset min-width
    width: 90%;   // reset the weird width used for full site
    margin: 0 auto;
  }

  .single-body {
    padding: 0;
  }

  .side {
    background-color: $color0;
    min-width: 0px;
    width: 1%;
    //@include box-shadow(5px 2px 11px -2px rgba(0,0,0,0.75));
    @include transition(width .5s ease);
    z-index: 1;

  }

  .side-box {
    width: 90%;
    overflow: hidden;
  }

  .side-arrow {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 10%;
    min-width: 25px;

    font-size: 2.5em;
    font-family: $font1;
    font-weight: 300;

    background-color: $color0;
  }

  .side-item {
    font-size: 1.1em;
    padding-bottom: 19px;
    border-bottom: 1px solid $color3;
  }

  #open-side {
    //display: inline;
  }
}
